{% extends 'Layouts/base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="main-content">
    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title m-b-0">Dashboard</h4>
            </li>
             <li class="breadcrumb-item">
              <a href="/Dashboard/">
                <i class="fas fa-home" style="font-size: 13px;"></i>
                </a>
            </li>
            <li class="breadcrumb-item">  </li>
        </ul>
        <div class="card" style="height: 154px;">
            <div class="card-body">
            </div>
        </div>
    </section>
</div>


{% endblock %}
{% block jscontent %} 
    <script>
        $("#Dashboard").addClass("active");
    </script>
{% endblock %}